<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Interviews</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/images/icon.png" type="image/png">
</head>
<body>

    <div class="bodyDiv">
        <div class="Heading">
            <h1 style="color: black;">All Users</h1>
        </div>
        
        <hr style="background-color: black; width: 100%;">

        <div class="divNavButtons">
                
            <a href="/">
                <input type="button" value="Home" class="navButtons" style="margin-top: 1.4rem; margin-left: 2rem;">
            </a>
            
        </div>

        <div class="users">

            <% if(usersData.length === 0) {%>
                <div class="row" style="margin-top: 6rem; display: flex; flex-direction: column; align-items: center;">
                    <div>
                        <h2 style="color: black;">No users Found!</h2>
                    </div>
                    <div>
                        <h5 style="color: black;">Please create a user</h5>
                    </div>
                </div>
            <% }%>
            
            <% for (var i=0; i < usersData.length ; i++ ) {%>
                <div class = "wrapper">
                    <h2 class="upper">User - <%=i + 1%></h2>
                    
                    <p class="details">
                        <span class="row">
                            Name : 
                            <span class="row-item">
                                <%= usersData[i].name %>
                            </span>
                        </span>

                        <span class="row">
                            Email : 
                            <span class="row-item">
                                <%= usersData[i].email %>
                            </span>
                        </span>
                    </p>

                    <% var bid = "viewBusySlotButton" + (i + 1) %>
                    <% console.log(bid) %>
                    <% var pid = "busySlotDiv" + (i + 1) %>
                    <% console.log(pid) %>

                    <span class="row">
                        <span class="row-item">
                            <button style="cursor: pointer; border-radius: 5px; background: white; margin: 10px; padding: 04px; border: none;" id="<%=bid%>">View Busy Slots</button>
                        </span>
                    </span>

                    <p class="details" id="<%= pid %>" style="display: none;">

                        <% for (var j=0; j < usersData[i].allBusySlots.length ; j++ ) {%>
                            <span class="row">
                                <%=j + 1%>. Interview Date : 
                                <span class="row-item">
                                    <% var d = usersData[i].allBusySlots[j].interview_date.split('-') %>
                                    <% var newDate = d[2] + " / " + d[1] + " / " + d[0] %>
                                    <%= newDate %>
                                </span>
                            </span>

                            <span class="row">
                                Start Time : 
                                <span class="row-item">
                                    <%= usersData[i].allBusySlots[j].startTime %>
                                </span>
                            </span>

                            <span class="row">
                                End Time : 
                                <span class="row-item">
                                    <%= usersData[i].allBusySlots[j].endTime %>
                                </span>
                            </span>
                            <br>
                        <% } %>
                    </p>
                    
                </div>

            <% } %>
        </div>
    </div>
    
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            color: white;
            font-family: "Lato", sans-serif;
            white-space: nowrap;
        }

        .bodyDiv{
            display: flex;
            flex-direction: column;
        }

        .goBack {
            border-radius: 10px;
            border-color: black ;
            border-width: 1px;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            background-color: white;
        }

        .goBack:hover {
            background-color: #ed1c40;
            color: white;
            border-color: transparent;
        }

        .users{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }

        .wrapper {
            background: #ed1c40;
            /* background-color: rgba(255, 255, 255, 0.2); */
            display: flex;
            flex-direction: column;
            padding: 1.5em;
            width: auto;
            height: auto;
            border-radius: 10px;
            margin: 40px;
            align-items: center;
            justify-content: center;
        }

        .upper {
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);
            font-weight: 400;
            font-size: 24px;
            line-height: 2;
            text-transform: uppercase;
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 10px;
        }

        .row-item {
            padding-left: 10px;
        }


        .bodyDiv {
            display: flex;
            flex-direction: column;
        }

        .Heading {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 12vh;
        }

        .navButtons {
            padding: 2vh;
            cursor: pointer;
            margin: 2vh;
            border-radius: 2vh;
            border: none;
            background-color: #10aaf0;
            color: white;
            font-size: 2.5vh;
            font-weight: 14px;
            margin-right: 10vh;
        }

        .divNavButtons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: larger;
        }
    </style>

    <script>

        for(let i = 0 ; i < 1000 ; i++){

            if(document.querySelector("#viewBusySlotButton" + (i + 1))){
                document.querySelector("#viewBusySlotButton" + (i + 1)).addEventListener('click' , () => {
                    document.querySelector("#busySlotDiv" + (i + 1)).style.display = document.querySelector("#busySlotDiv" + (i + 1)).style.display == "none" ? "flex" : "none"
                })
            }
        }
        
    </script>

</body>
</html>